# Clean and format Ademe data

Imports

In [2]:
import pandas as pd

### Load and concat data

In [45]:
existant = pd.read_csv('data/existant74.csv')
neuf = pd.read_csv('data/neuf74.csv')

/var/folders/vz/krrs9qks6ms_0h7qvdrthfz00000gn/T/ipykernel_651/4084556357.py:1: DtypeWarning: Columns (211,213,214,216,221,222,224,225) have mixed types. Specify dtype option on import or set low_memory=False.
  existant = pd.read_csv('data/existant74.csv')
/var/folders/vz/krrs9qks6ms_0h7qvdrthfz00000gn/T/ipykernel_651/4084556357.py:2: DtypeWarning: Columns (105,106,107,124,141,142,143,144,147,148,150,151,152,153,154,155,156,157,158,159,161,162,164,166,168,169,170,172,173,174,175,176,177,178,179,182,183,184) have mixed types. Specify dtype option on import or set low_memory=False.
  neuf = pd.read_csv('data/neuf74.csv')

Add `data_source` column to differenciate existings from new

In [46]:
existant['data_source'] = 'existant'
neuf['data_source'] = 'existant'

Concat

In [57]:
df = pd.concat([existant, neuf], ignore_index=True)

In [58]:
print('existant', len(existant.columns))
print('neuf', len(neuf.columns))
print('df:', len(df.columns))

existant 227
neuf 186
df: 231

### Check NAs

In [59]:
df.isna().sum()

configuration_installation_chauffage_n1       38215
conso_chauffage_installation_chauffage_n1     38216
type_generateur_n1_ecs_n1                     38562
numero_voie_ban                               38258
score_ban                                         0
                                              ...
data_source                                       0
besoin_ecs_batiment                          198487
besoin_ecs_logement                          198487
deperditions_totales_logement                199048
deperditions_totales_batiment                199048
Length: 231, dtype: int64

### Add data from `communes-france-2025.csv`

Load communes and keep only interesting columns

In [60]:
communes = pd.read_csv('../web/application/datasets/communes-france-2025.csv')
communes = communes[['code_insee', 'population', 'superficie_km2', 'densite', 'altitude_moyenne', 'grille_densite_texte']]

/var/folders/vz/krrs9qks6ms_0h7qvdrthfz00000gn/T/ipykernel_651/3713826944.py:1: DtypeWarning: Columns (1,12,14,16,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  communes = pd.read_csv('../web/application/datasets/communes-france-2025.csv')

Concat data and check for non match

In [61]:
merged_df = pd.merge(df, communes, left_on='code_insee_ban', right_on='code_insee', how='left', indicator=True)
unmatched_rows = merged_df[merged_df['_merge'] == 'left_only']

### Fix non matched

Annecy makes a mess, little cities got grouped with Annecy, being now called CA Grand Annecy

In [62]:
old_annecy_insees = unmatched_rows['code_insee_ban'].unique()
old_annecy_insees

array([74011, 74268, 74187, 74093], dtype=object)

Drop Montmin 74187 (318 peoples). , It's a new city created after the fusion. Replace `old_annecy_insees` with Annecy insee 74010

In [63]:
df = df[df['code_insee_ban'] != 74187] # Drop Montmin
df['code_insee_ban'] = df['code_insee_ban'].replace(old_annecy_insees, 74010) # replace old insee to new insee

Remerge

In [64]:
merged_df = pd.merge(df, communes, left_on='code_insee_ban', right_on='code_insee', how='left')
merged_df = merged_df.drop(columns=['code_insee'])

### Fix `classe_altitude`

In [4]:
def categoriser_altitude(altitude):
    """
    Affecte chaque logement à une tranche d'altitude
    
    Cette fonction permet de regrouper les logements selon leur altitude
    pour faciliter les analyses comparatives entre vallées et montagnes.
    
    Args:
        altitude (float): Altitude du logement en mètres
        
    Returns:
        str: Label de la tranche d'altitude correspondante
    """
    # Gestion des valeurs manquantes
    if pd.isna(altitude):
        return pd.NA
    
    # Attribution de la tranche selon les seuils définis
    if altitude < 600:
        return "0-600m (Vallée)"
    elif altitude < 1200:
        return "600-1200m (Colline)"
    elif altitude < 1800:
        return "1200-1800m (Montagne)"
    elif altitude < 2500:
        return "1800-2500m (Haute montagne)"
    else:
        return ">2500m (Très haute montagne)"

In [5]:
merged_df['classe_altitude'] = merged_df['altitude_moyenne'].apply(categoriser_altitude)

### Add `categorie_dpe`

In [8]:
def categoriser_dpe(etiquette):
    if etiquette in ['A', 'B']:
        return 'Bons (A-B)'
    elif etiquette in ['C', 'D']:
        return 'Moyens (C-D)'
    elif etiquette == 'E':
        return 'Médiocres (E)'
    else:  # F ou G
        return 'Passoires (F-G)'

In [9]:
merged_df['categorie_dpe'] = merged_df['etiquette_dpe'].apply(categoriser_dpe)

### Add `passoire`

In [10]:
merged_df['passoire'] = merged_df['etiquette_dpe'].isin(['F', 'G'])

### Add `periode_categorie`

In [20]:
def categoriser_periode(periode):
    """Regroupe les périodes de construction en grandes époques"""
    if pd.isna(periode):
        return pd.NA
    
    periode_str = str(periode).lower()
    
    # Strings
    if any(x in periode_str for x in ['récent']):
        return 'Après 2012'
    elif any(x in periode_str for x in ['avant', 'ancien']):
        return 'Avant 1975'
    
    periode_int = int(periode_str.split('-')[0].split(' ')[-1])

    # Avant 1975 (première réglementation thermique)
    if periode_int < 1975:
        return 'Avant 1975' 
    # 1975-2000 (RT 1974, 1988, 2000)
    elif periode_int <= 2000:
        return '1975-2000'
    # 2001-2012 (RT 2005, 2012)
    elif periode_int <= 2012:
        return '2001-2012'
    # Après 2012 (RT 2012, RE 2020)
    else:
        return 'Après 2012'

In [21]:
merged_df['periode_categorie'] = merged_df['periode_construction'].apply(categoriser_periode)

### Save CSV

In [24]:
merged_df.to_csv('data/logements_74.csv', index=False)
merged_df.shape

(203797, 239)